fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
passlib[bcrypt]==1.7.4
argon2-cffi
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
psycopg2-binary
GeoAlchemy2
python-dotenv
fs
slowapi
rq
redis
reportlab
resend
apscheduler
openpyxl
httpx>=0.28.1
