__pycache__/
*.py[cod]
*.log
.git/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
test/
test_images/
pasta-detection/
pastaa-detection/
runs/detect/predict/
runs/detect/predict2/
runs/detect/predict3/
runs/detect/predict4/
runs/detect/predict5/
runs/detect/predict6/
runs/detect/predict7/